# MESSAGE DECODING FROM UNPOOLED SAMPLES (BUT COMBINED INTO MOCK POOLS AND SUBSAMPLED)

### INPUT, LOAD SEQUENCES

In [1]:
%load_ext autoreload
%autoreload 2

import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import matplotlib as mpl
import scipy.stats

from turtles.turtles_utils import *

In [2]:
base_path = '/mnt/c/Users/jonst/Northwestern University/Tyo Lab - Shared group resources' \
            '/Publications Presentations & Proposals from Group/Manuscripts' \
            '/2022 - Callisto Strutz - tdt data storage'

#: Overall directory for TdT project data and analysis
tdt_dir = f'{base_path}/02 Analyzed data/'

#: Subdirectory for NGS run
data_dir = f'{base_path}/01 Raw data/20211109_barcoded_rec_1/data/rawDataSingles/'

#: Directory to save generated figures in
figure_dir = f'{base_path}/02 Analyzed data/preliminary_figures/Hello_World_1_subsampled/'

In [3]:
sample_max_n_reads = [300000, 100000, 10000, 1000, 100]
sample_n_random_states = [1, 5, 15, 30, 50]

In [4]:
#import conditions table
conditions_df = pd.DataFrame()
conditions_df = pd.read_excel(f'{base_path}/01 Raw data/20211109_barcoded_rec_1/analysis/conditonsTable.xls', header=0)
conditions_df

,Filename,Sample,Category,Replicate,Timepoint,Condition,Position,Base_Condition
0,A1,1C,c,1,1,1,NaN,0
1,A2,2C,c,2,1,1,NaN,0
2,A3,4C,c,3,1,1,NaN,0
3,A4,6C,c,1,1,3,NaN,gg
4,A5,9c,c,2,1,3,NaN,gg
5,A6,10C,c,3,1,3,NaN,gg
6,A7,15C,c,1,1,4,NaN,t
7,A8,16C,c,2,1,4,NaN,t
8,A9,17C,c,3,1,4,NaN,t
9,A10,18C,c,1,0,6,NaN,0
10,A11,19C,c,2,0,6,NaN,0
11,A12,22C,c,3,0,6,NaN,0
12,B1,23C,c,1,1,5,NaN,tt
13,B2,24C,c,2,1,5,NaN,tt
14,B3,29C,c,3,1,5,NaN,tt
15,B4,31C,c,1,0,8,NaN,tt
16,B5,34C,c,2,0,8,NaN,tt
17,B6,35C,c,3,0,8,NaN,tt
18,B7,37C,c,1,1,2,NaN,g
19,B8,38C,c,2,1,2,NaN,g
20,B9,41C,c,3,1,2,NaN,g
21,B10,42C,c,1,0,7,NaN,gg
22,B11,44C,c,2,0,7,NaN,gg
23,B12,45C,c,3,0,7,NaN,gg
24,C1,1R,r,1,1,2,1.0,g
25,C2,2R,r,1,1,2,2.0,g
26,C3,4R,r,1,1,1,3.0,0
27,C4,6R,r,1,1,5,4.0,tt
28,C5,9R,r,1,1,2,5.0,g
29,C6,10R,r,1,0,6,6.0,0
30,C7,15R,r,1,1,4,22.0,t
31,C8,16R,r,1,1,2,7.0,g
32,C9,17R,r,1,0,6,8.0,0
33,C10,18R,r,1,1,3,9.0,gg
34,C11,19R,r,1,1,3,10.0,gg
35,C12,22R,r,1,1,5,11.0,tt
36,D1,23R,r,1,1,3,12.0,gg
37,D2,24R,r,1,1,4,23.0,t
38,D3,29R,r,1,1,4,13.0,t
39,D4,31R,r,1,1,5,14.0,tt
40,D5,34R,r,1,1,4,24.0,t
41,D6,35R,r,1,1,3,15.0,gg
42,D7,37R,r,1,1,3,16.0,gg
43,D8,38R,r,1,1,3,17.0,gg
44,D9,41R,r,1,0,6,18.0,0
45,D10,42R,r,1,1,2,19.0,g
46,D11,44R,r,1,0,6,20.0,0
47,D12,45R,r,1,1,1,21.0,0

In [5]:
# split controls and message
controls_df = conditions_df[conditions_df['Category']=='c']
message_df = conditions_df[conditions_df['Category']=='r']

controls_df = controls_df.reindex(columns=['Filename', 'Sample', 'Replicate'])
message_df = message_df.reindex(columns=['Filename','Sample', 'Replicate'])

In [6]:
controls_df

   Filename Sample  Replicate
0        A1     1C          1
1        A2     2C          2
2        A3     4C          3
3        A4     6C          1
4        A5     9c          2
5        A6    10C          3
6        A7    15C          1
7        A8    16C          2
8        A9    17C          3
9       A10    18C          1
10      A11    19C          2
11      A12    22C          3
12       B1    23C          1
13       B2    24C          2
14       B3    29C          3
15       B4    31C          1
16       B5    34C          2
17       B6    35C          3
18       B7    37C          1
19       B8    38C          2
20       B9    41C          3
21      B10    42C          1
22      B11    44C          2
23      B12    45C          3

In [7]:
message_df

   Filename Sample  Replicate
24       C1     1R          1
25       C2     2R          1
26       C3     4R          1
27       C4     6R          1
28       C5     9R          1
29       C6    10R          1
30       C7    15R          1
31       C8    16R          1
32       C9    17R          1
33      C10    18R          1
34      C11    19R          1
35      C12    22R          1
36       D1    23R          1
37       D2    24R          1
38       D3    29R          1
39       D4    31R          1
40       D5    34R          1
41       D6    35R          1
42       D7    37R          1
43       D8    38R          1
44       D9    41R          1
45      D10    42R          1
46      D11    44R          1
47      D12    45R          1

In [8]:
# hgRNA reverse complements
hgRNA_dict_rc = {'D21': 'CTTGGCCGTAGCGTGAC'}

seqs_dict, hgRNAs, barcodes, insert_barcodes = read_in_vivo_seqs_R2(data_dir, hgRNA_dict_rc)

Read 107373 sequences in A1_S1_L001_R2_001.fastq.gz ...
Number cut and inserted into: 12887
Average length (excluding 0-length seqs): 2.37


Read 100379 sequences in A10_S10_L001_R2_001.fastq.gz ...
Number cut and inserted into: 304
Average length (excluding 0-length seqs): 1.11


Read 110847 sequences in A11_S11_L001_R2_001.fastq.gz ...
Number cut and inserted into: 562
Average length (excluding 0-length seqs): 1.18


Read 80528 sequences in A12_S12_L001_R2_001.fastq.gz ...
Number cut and inserted into: 407
Average length (excluding 0-length seqs): 1.16


Read 96780 sequences in A2_S2_L001_R2_001.fastq.gz ...
Number cut and inserted into: 12039
Average length (excluding 0-length seqs): 2.25


Read 89092 sequences in A3_S3_L001_R2_001.fastq.gz ...
Number cut and inserted into: 11871
Average length (excluding 0-length seqs): 2.52


Read 96479 sequences in A4_S4_L001_R2_001.fastq.gz ...
Number cut and inserted into: 7293
Average length (excluding 0-length seqs): 2.56


Read 115858 sequences in A5_S5_L001_R2_001.fastq.gz ...
Number cut and inserted into: 10397
Average length (excluding 0-length seqs): 2.71


Read 104576 sequences in A6_S6_L001_R2_001.fastq.gz ...
Number cut and inserted into: 8678
Average length (excluding 0-length seqs): 2.69


Read 94418 sequences in A7_S7_L001_R2_001.fastq.gz ...
Number cut and inserted into: 11647
Average length (excluding 0-length seqs): 2.5


Read 104514 sequences in A8_S8_L001_R2_001.fastq.gz ...
Number cut and inserted into: 11797
Average length (excluding 0-length seqs): 2.43


Read 98949 sequences in A9_S9_L001_R2_001.fastq.gz ...
Number cut and inserted into: 9498
Average length (excluding 0-length seqs): 2.55


Read 88732 sequences in B1_S13_L001_R2_001.fastq.gz ...
Number cut and inserted into: 7059
Average length (excluding 0-length seqs): 2.94


Read 91273 sequences in B10_S22_L001_R2_001.fastq.gz ...
Number cut and inserted into: 243
Average length (excluding 0-length seqs): 1.17


Read 139396 sequences in B11_S23_L001_R2_001.fastq.gz ...
Number cut and inserted into: 644
Average length (excluding 0-length seqs): 1.47


Read 133551 sequences in B12_S24_L001_R2_001.fastq.gz ...
Number cut and inserted into: 336
Average length (excluding 0-length seqs): 2.38


Read 112855 sequences in B2_S14_L001_R2_001.fastq.gz ...
Number cut and inserted into: 6665
Average length (excluding 0-length seqs): 2.63


Read 132166 sequences in B3_S15_L001_R2_001.fastq.gz ...
Number cut and inserted into: 8260
Average length (excluding 0-length seqs): 2.86


Read 108398 sequences in B4_S16_L001_R2_001.fastq.gz ...
Number cut and inserted into: 345
Average length (excluding 0-length seqs): 1.09


Read 111224 sequences in B5_S17_L001_R2_001.fastq.gz ...
Number cut and inserted into: 711
Average length (excluding 0-length seqs): 1.37


Read 121035 sequences in B6_S18_L001_R2_001.fastq.gz ...
Number cut and inserted into: 410
Average length (excluding 0-length seqs): 1.64


Read 108931 sequences in B7_S19_L001_R2_001.fastq.gz ...
Number cut and inserted into: 12333
Average length (excluding 0-length seqs): 2.38


Read 90047 sequences in B8_S20_L001_R2_001.fastq.gz ...
Number cut and inserted into: 9871
Average length (excluding 0-length seqs): 2.48


Read 76929 sequences in B9_S21_L001_R2_001.fastq.gz ...
Number cut and inserted into: 8360
Average length (excluding 0-length seqs): 2.35


Read 105250 sequences in C1_S25_L001_R2_001.fastq.gz ...
Number cut and inserted into: 1773
Average length (excluding 0-length seqs): 2.56


Read 89345 sequences in C10_S34_L001_R2_001.fastq.gz ...
Number cut and inserted into: 7881
Average length (excluding 0-length seqs): 2.94


Read 142511 sequences in C11_S35_L001_R2_001.fastq.gz ...
Number cut and inserted into: 13052
Average length (excluding 0-length seqs): 2.74


Read 126777 sequences in C12_S36_L001_R2_001.fastq.gz ...
Number cut and inserted into: 11768
Average length (excluding 0-length seqs): 2.69


Read 112537 sequences in C2_S26_L001_R2_001.fastq.gz ...
Number cut and inserted into: 13819
Average length (excluding 0-length seqs): 2.55


Read 111572 sequences in C3_S27_L001_R2_001.fastq.gz ...
Number cut and inserted into: 11434
Average length (excluding 0-length seqs): 2.33


Read 110019 sequences in C4_S28_L001_R2_001.fastq.gz ...
Number cut and inserted into: 11568
Average length (excluding 0-length seqs): 2.66


Read 113015 sequences in C5_S29_L001_R2_001.fastq.gz ...
Number cut and inserted into: 14037
Average length (excluding 0-length seqs): 2.34


Read 131616 sequences in C6_S30_L001_R2_001.fastq.gz ...
Number cut and inserted into: 737
Average length (excluding 0-length seqs): 1.29


Read 114513 sequences in C7_S31_L001_R2_001.fastq.gz ...
Number cut and inserted into: 14540
Average length (excluding 0-length seqs): 2.65


Read 105927 sequences in C8_S32_L001_R2_001.fastq.gz ...
Number cut and inserted into: 15429
Average length (excluding 0-length seqs): 2.51


Read 86025 sequences in C9_S33_L001_R2_001.fastq.gz ...
Number cut and inserted into: 292
Average length (excluding 0-length seqs): 1.09


Read 124776 sequences in D1_S37_L001_R2_001.fastq.gz ...
Number cut and inserted into: 10288
Average length (excluding 0-length seqs): 2.71


Read 102915 sequences in D10_S46_L001_R2_001.fastq.gz ...
Number cut and inserted into: 12481
Average length (excluding 0-length seqs): 2.47


Read 134277 sequences in D11_S47_L001_R2_001.fastq.gz ...
Number cut and inserted into: 782
Average length (excluding 0-length seqs): 1.16


Read 124624 sequences in D12_S48_L001_R2_001.fastq.gz ...
Number cut and inserted into: 14918
Average length (excluding 0-length seqs): 2.54


Read 121215 sequences in D2_S38_L001_R2_001.fastq.gz ...
Number cut and inserted into: 13898
Average length (excluding 0-length seqs): 2.59


Read 116023 sequences in D3_S39_L001_R2_001.fastq.gz ...
Number cut and inserted into: 13910
Average length (excluding 0-length seqs): 2.36


Read 112595 sequences in D4_S40_L001_R2_001.fastq.gz ...
Number cut and inserted into: 10337
Average length (excluding 0-length seqs): 2.56


Read 107368 sequences in D5_S41_L001_R2_001.fastq.gz ...
Number cut and inserted into: 14493
Average length (excluding 0-length seqs): 2.4


Read 92669 sequences in D6_S42_L001_R2_001.fastq.gz ...
Number cut and inserted into: 12681
Average length (excluding 0-length seqs): 3.03


Read 127797 sequences in D7_S43_L001_R2_001.fastq.gz ...
Number cut and inserted into: 12423
Average length (excluding 0-length seqs): 2.52


Read 118925 sequences in D8_S44_L001_R2_001.fastq.gz ...
Number cut and inserted into: 10921
Average length (excluding 0-length seqs): 2.84


Read 104269 sequences in D9_S45_L001_R2_001.fastq.gz ...
Number cut and inserted into: 612
Average length (excluding 0-length seqs): 1.12

# COMBINE READS INTO MOCK POOL

In [9]:
control_seqs = []
control_hgRNAs = []
control_barcodes = []
control_insert_barcodes = []

message_seqs = []
message_hgRNAs = []
message_barcodes = []
message_insert_barcodes = []

for condition in seqs_dict:
    file_seqs = seqs_dict[condition]
    file_hgRNAs = hgRNAs[condition]
    file_barcodes = barcodes[condition]
    file_insert_barcodes = insert_barcodes[condition]
    
    if 'A' in condition or 'B' in condition:
        control_seqs += file_seqs
        control_hgRNAs += file_hgRNAs
        control_barcodes += file_barcodes
        control_insert_barcodes += file_insert_barcodes
    elif 'C' in condition or 'D' in condition:
        message_seqs += file_seqs
        message_hgRNAs += file_hgRNAs
        message_barcodes += file_barcodes
        message_insert_barcodes += file_insert_barcodes

In [10]:
len(control_seqs)

152617

In [11]:
len(message_seqs)

244074

In [12]:
sample_max_n_reads

[300000, 100000, 10000, 1000, 100]

In [13]:
sample_n_random_states

[1, 5, 15, 30, 50]

In [14]:
seqs_dict = {}
hgRNAs = {}
barcodes = {}
insert_barcodes = {}

for max_n_reads, n_random_states in zip(sample_max_n_reads, sample_n_random_states):
    
    seqs_dict[max_n_reads] = []
    hgRNAs[max_n_reads] = []
    barcodes[max_n_reads] = []
    insert_barcodes[max_n_reads] = []

    for rs in range(n_random_states):
        
        sampled_control_seqs = []
        sampled_control_hgRNAs = []
        sampled_control_barcodes = []
        sampled_control_insert_barcodes = []
        
        sampled_message_seqs = []
        sampled_message_hgRNAs = []
        sampled_message_barcodes = []
        sampled_message_insert_barcodes = []
        
        random.seed(rs)
        
        control_indices = range(len(control_seqs))
        sampled_control_indices = random.sample(control_indices, min(max_n_reads, len(control_indices)))
        for sampled_control_index in sampled_control_indices:
            sampled_control_seqs.append(control_seqs[sampled_control_index])
            sampled_control_hgRNAs.append(control_hgRNAs[sampled_control_index])
            sampled_control_barcodes.append(control_barcodes[sampled_control_index])
            sampled_control_insert_barcodes.append(control_insert_barcodes[sampled_control_index])
            
        message_indices = range(len(message_seqs))
        sampled_message_indices = random.sample(message_indices, min(max_n_reads, len(message_indices)))
        for sampled_message_index in sampled_message_indices:
            sampled_message_seqs.append(message_seqs[sampled_message_index])
            sampled_message_hgRNAs.append(message_hgRNAs[sampled_message_index])
            sampled_message_barcodes.append(message_barcodes[sampled_message_index])
            sampled_message_insert_barcodes.append(message_insert_barcodes[sampled_message_index])
        
        seqs_dict[max_n_reads].append({'Control': sampled_control_seqs, 'Message': sampled_message_seqs})
        hgRNAs[max_n_reads].append({'Control': sampled_control_hgRNAs, 'Message': sampled_message_hgRNAs})
        barcodes[max_n_reads].append({'Control': sampled_control_barcodes, 'Message': sampled_message_barcodes})
        insert_barcodes[max_n_reads].append({'Control': sampled_control_insert_barcodes, 'Message': sampled_message_insert_barcodes})

In [15]:
len(seqs_dict[1000][2]['Control'])

1000

## LOAD BARCODES

In [16]:
barcode_df = pd.read_csv(f'{tdt_dir}/_decodingResources/BarcodeToPosition.csv')
barcode_df

    Position                          Barcodes
0          1                        AATTTTGCGG
1          2                        TGACTTTTAA
2          3                        TAACAGTATG
3          4  TTTTTGTGAA,GTTATACTGT,CAACTCGGTC
4          5                        CAATTGTCAT
5          6                        GCCGCTCAGT
6          7                        TGCACGTCAT
7          8                        GCGATCCCGG
8          9                        AACCTAAGTT
9         10                        ACTGCTCCCT
10        11                        TTTTACAGAT
11        12                        ACATAAATTA
12        13                        TCCGGACTCA
13        14                        GGTATAAAAA
14        15                        GTCCCAAAAA
15        16                        AGTTTTTCAA
16        17                        GGTTACACTT
17        18                        TCTTAGCATT
18        19                        GTCCTGCTAA
19        20                        CAATAACCGA
20        21                        TTCAATTCGA
21        22                        TATAGCCACC
22        23                        CCTTCGACTC
23        24                        CGTATTCTCT

In [17]:
controls_cond_df = pd.read_csv(f'{tdt_dir}/_decodingResources/BarcodeToCondition.csv')
controls_cond_df

    Condition Base                          Barcodes
0           1    0                        AATTTTGCGG
1           1    0                        TGACTTTTAA
2           1    0                        TAACAGTATG
3           2    g                        AGTTTTTCAA
4           2    g                        GGTTACACTT
5           2    g                        TCTTAGCATT
6           3   gg  TTTTTGTGAA,GTTATACTGT,CAACTCGGTC
7           3   gg                        CAATTGTCAT
8           3   gg                        GCCGCTCAGT
9           4    t                        TATAGCCACC
10          4    t                        TGCACGTCAT
11          4    t                        GCGATCCCGG
12          5   tt                        ACATAAATTA
13          5   tt                        CCTTCGACTC
14          5   tt                        TCCGGACTCA
15          6    0                        AACCTAAGTT
16          6    0                        ACTGCTCCCT
17          6    0                        TTTTACAGAT
18          7   gg                        GTCCTGCTAA
19          7   gg                        CAATAACCGA
20          7   gg                        TTCAATTCGA
21          8   tt                        GGTATAAAAA
22          8   tt                        CGTATTCTCT
23          8   tt                        GTCCCAAAAA

# SEQUENCE ANALYSIS

In [18]:
controls_seq_dfs = {}
message_seq_dfs = {}

for max_n_reads, n_random_states in zip(sample_max_n_reads, sample_n_random_states):
    controls_seq_dfs[max_n_reads] = []
    message_seq_dfs[max_n_reads] = []
    for rs in range(n_random_states):
        controls_seq_df = pd.DataFrame()
        controls_seq_df['Sequence'] = seqs_dict[max_n_reads][rs]['Control']
        controls_seq_df['hgRNA'] = hgRNAs[max_n_reads][rs]['Control']
        controls_seq_df['Barcode'] = insert_barcodes[max_n_reads][rs]['Control']
        controls_seq_dfs[max_n_reads].append(controls_seq_df)

        message_seq_df = pd.DataFrame()
        message_seq_df['Sequence'] = seqs_dict[max_n_reads][rs]['Message']
        message_seq_df['hgRNA'] = hgRNAs[max_n_reads][rs]['Message']
        message_seq_df['Barcode'] = insert_barcodes[max_n_reads][rs]['Message']
        message_seq_dfs[max_n_reads].append(message_seq_df)

In [19]:
controls_seq_dfs[1000][2]

    Sequence hgRNA     Barcode
0      GACCC   D21  TGACTTTTAA
1     GGACCC   D21  TTACTTTTAA
2          G   D21  TGACTTTTAG
3          C   D21  GCGATCCCGG
4          G   D21  GTTATACTGT
..       ...   ...         ...
995       TG   D21  GCGATCCCGG
996        G   D21  TCTTAGCATT
997        G   D21  GCGATCCCGG
998        G   D21  CAACTCGGTC
999      GCC   D21  GTTATACTGT

[1000 rows x 3 columns]

In [20]:
message_seq_dfs[1000][2]

    Sequence hgRNA     Barcode
0          G   D21  GTTATACTGT
1     ATCCCG   D21  TCCGGACTCA
2          G   D21  GGTTACACTT
3          C   D21  TCCGGACTCA
4          G   D21  TGACTTTTAA
..       ...   ...         ...
995        G   D21  GGTATAAAAA
996    GGGGC   D21  AACCTAAGTT
997        G   D21  TCCGGACTCA
998        A   D21  TCCGGACTCA
999     GGGC   D21  TGACTTTTAA

[1000 rows x 3 columns]

In [21]:
for seq_dfs in [controls_seq_dfs, message_seq_dfs]:
    for max_n_reads, n_random_states in zip(sample_max_n_reads, sample_n_random_states):
        for rs in range(n_random_states):
            df = seq_dfs[max_n_reads][rs]
            lengths = df.apply(lambda x: len(x['Sequence']), axis=1)
            df['Length'] = lengths

In [22]:
controls_seq_dfs[1000][2]

    Sequence hgRNA     Barcode  Length
0      GACCC   D21  TGACTTTTAA       5
1     GGACCC   D21  TTACTTTTAA       6
2          G   D21  TGACTTTTAG       1
3          C   D21  GCGATCCCGG       1
4          G   D21  GTTATACTGT       1
..       ...   ...         ...     ...
995       TG   D21  GCGATCCCGG       2
996        G   D21  TCTTAGCATT       1
997        G   D21  GCGATCCCGG       1
998        G   D21  CAACTCGGTC       1
999      GCC   D21  GTTATACTGT       3

[1000 rows x 4 columns]

In [23]:
message_seq_dfs[1000][2]

    Sequence hgRNA     Barcode  Length
0          G   D21  GTTATACTGT       1
1     ATCCCG   D21  TCCGGACTCA       6
2          G   D21  GGTTACACTT       1
3          C   D21  TCCGGACTCA       1
4          G   D21  TGACTTTTAA       1
..       ...   ...         ...     ...
995        G   D21  GGTATAAAAA       1
996    GGGGC   D21  AACCTAAGTT       5
997        G   D21  TCCGGACTCA       1
998        A   D21  TCCGGACTCA       1
999     GGGC   D21  TGACTTTTAA       4

[1000 rows x 4 columns]

In [24]:
controls_df = pd.DataFrame()
controls_df['Max Reads'] = [n for n, n_random_states in zip(sample_max_n_reads, sample_n_random_states)
                            for _ in range(n_random_states) ]
controls_df['Replicate'] = sum([list(range(n)) for n in sample_n_random_states], [])
controls_df['Filename'] = 'Control'
controls_df['Sample'] = 'Control'
controls_df

     Max Reads  Replicate Filename   Sample
0       300000          0  Control  Control
1       100000          0  Control  Control
2       100000          1  Control  Control
3       100000          2  Control  Control
4       100000          3  Control  Control
..         ...        ...      ...      ...
96         100         45  Control  Control
97         100         46  Control  Control
98         100         47  Control  Control
99         100         48  Control  Control
100        100         49  Control  Control

[101 rows x 4 columns]

In [25]:
message_df = pd.DataFrame()
message_df['Max Reads'] = [n for n, n_random_states in zip(sample_max_n_reads, sample_n_random_states)
                           for _ in range(n_random_states) ]
message_df['Replicate'] = sum([list(range(n)) for n in sample_n_random_states], [])
message_df['Filename'] = 'Message'
message_df['Sample'] = 'Message'
message_df

     Max Reads  Replicate Filename   Sample
0       300000          0  Message  Message
1       100000          0  Message  Message
2       100000          1  Message  Message
3       100000          2  Message  Message
4       100000          3  Message  Message
..         ...        ...      ...      ...
96         100         45  Message  Message
97         100         46  Message  Message
98         100         47  Message  Message
99         100         48  Message  Message
100        100         49  Message  Message

[101 rows x 4 columns]

In [26]:
mean_lengths = []
sd_lengths = []
counts = []

for max_n_reads, n_random_states in zip(sample_max_n_reads, sample_n_random_states):
    for rs in range(n_random_states):
        df = controls_seq_dfs[max_n_reads][rs]

        mean_length = df.Length.mean()
        sd_length = df.Length.std()
        count = len(df)

        mean_lengths.append(mean_length)
        sd_lengths.append(sd_length)
        counts.append(count)

controls_df['Avg_Length'] = mean_lengths
controls_df['Std_Length'] = sd_lengths
controls_df['Count'] = counts

controls_df

     Max Reads  Replicate Filename   Sample  Avg_Length  Std_Length   Count
0       300000          0  Control  Control    2.495711    1.803741  152617
1       100000          0  Control  Control    2.490330    1.802348  100000
2       100000          1  Control  Control    2.495670    1.804038  100000
3       100000          2  Control  Control    2.500730    1.807726  100000
4       100000          3  Control  Control    2.499040    1.807471  100000
..         ...        ...      ...      ...         ...         ...     ...
96         100         45  Control  Control    2.730000    2.097883     100
97         100         46  Control  Control    2.300000    1.678744     100
98         100         47  Control  Control    2.520000    1.966795     100
99         100         48  Control  Control    2.710000    1.897872     100
100        100         49  Control  Control    2.110000    1.503498     100

[101 rows x 7 columns]

In [27]:
mean_lengths = []
sd_lengths = []
counts = []

for max_n_reads, n_random_states in zip(sample_max_n_reads, sample_n_random_states):
    for rs in range(n_random_states):
        df = message_seq_dfs[max_n_reads][rs]

        mean_length = df.Length.mean()
        sd_length = df.Length.std()
        count = len(df)

        mean_lengths.append(mean_length)
        sd_lengths.append(sd_length)
        counts.append(count)

message_df['Avg_Length'] = mean_lengths
message_df['Std_Length'] = sd_lengths
message_df['Count'] = counts

message_df

     Max Reads  Replicate Filename   Sample  Avg_Length  Std_Length   Count
0       300000          0  Message  Message    2.574875    1.816339  244074
1       100000          0  Message  Message    2.573870    1.817888  100000
2       100000          1  Message  Message    2.578540    1.818033  100000
3       100000          2  Message  Message    2.574330    1.816020  100000
4       100000          3  Message  Message    2.574750    1.815358  100000
..         ...        ...      ...      ...         ...         ...     ...
96         100         45  Message  Message    2.610000    1.582065     100
97         100         46  Message  Message    2.790000    1.887198     100
98         100         47  Message  Message    2.670000    1.907216     100
99         100         48  Message  Message    2.270000    1.562535     100
100        100         49  Message  Message    2.520000    1.997372     100

[101 rows x 7 columns]

In [28]:
def count_bases(seq, base):
    count = seq.count(base)
    return count

In [29]:
for max_n_reads, n_random_states in zip(sample_max_n_reads, sample_n_random_states):
    for rs in range(n_random_states):
        df = controls_seq_dfs[max_n_reads][rs]

        # Count A, C, G, T
        for base in ['A', 'C', 'G', 'T']:
            df[base] = df.apply(lambda x: count_bases(x['Sequence'], base), axis=1)

In [30]:
for max_n_reads, n_random_states in zip(sample_max_n_reads, sample_n_random_states):
    for rs in range(n_random_states):
        df = message_seq_dfs[max_n_reads][rs]

        # Count A, C, G, T
        for base in ['A', 'C', 'G', 'T']:
            df[base] = df.apply(lambda x: count_bases(x['Sequence'], base), axis=1)

In [31]:
controls_seq_dfs[1000][2]

    Sequence hgRNA     Barcode  Length  A  C  G  T
0      GACCC   D21  TGACTTTTAA       5  1  3  1  0
1     GGACCC   D21  TTACTTTTAA       6  1  3  2  0
2          G   D21  TGACTTTTAG       1  0  0  1  0
3          C   D21  GCGATCCCGG       1  0  1  0  0
4          G   D21  GTTATACTGT       1  0  0  1  0
..       ...   ...         ...     ... .. .. .. ..
995       TG   D21  GCGATCCCGG       2  0  0  1  1
996        G   D21  TCTTAGCATT       1  0  0  1  0
997        G   D21  GCGATCCCGG       1  0  0  1  0
998        G   D21  CAACTCGGTC       1  0  0  1  0
999      GCC   D21  GTTATACTGT       3  0  2  1  0

[1000 rows x 8 columns]

In [32]:
message_seq_dfs[1000][2]

    Sequence hgRNA     Barcode  Length  A  C  G  T
0          G   D21  GTTATACTGT       1  0  0  1  0
1     ATCCCG   D21  TCCGGACTCA       6  1  3  1  1
2          G   D21  GGTTACACTT       1  0  0  1  0
3          C   D21  TCCGGACTCA       1  0  1  0  0
4          G   D21  TGACTTTTAA       1  0  0  1  0
..       ...   ...         ...     ... .. .. .. ..
995        G   D21  GGTATAAAAA       1  0  0  1  0
996    GGGGC   D21  AACCTAAGTT       5  0  1  4  0
997        G   D21  TCCGGACTCA       1  0  0  1  0
998        A   D21  TCCGGACTCA       1  1  0  0  0
999     GGGC   D21  TGACTTTTAA       4  0  1  3  0

[1000 rows x 8 columns]

In [33]:
controls_bc_dfs = {}
filename = 'Control'

for max_n_reads, n_random_states in zip(sample_max_n_reads, sample_n_random_states):
    controls_bc_dfs[max_n_reads] = []
    for rs in range(n_random_states):
        controls_bc_df = pd.DataFrame()

        all_filenames = []
        all_barcodes = []
        all_conditions = []
        all_a_pcts = []
        all_c_pcts = []
        all_g_pcts = []
        all_t_pcts = []
        all_lengths = []

        for df in [controls_seq_dfs[max_n_reads][rs]]:
            filenames = []
            sub_barcodes = []
            conditions = []
            a_pcts = []
            c_pcts = []
            g_pcts = []
            t_pcts = []
            lengths = []

            for file_barcodes, condition in zip(controls_cond_df.Barcodes, controls_cond_df.Condition):
                if ',' in file_barcodes:
                    file_barcodes = file_barcodes.split(',')
                else:
                    file_barcodes = [file_barcodes]

                a = 0
                c = 0
                g = 0
                t = 0
                n_seqs = 0

                for barcode in file_barcodes:
                    sub_df = df.loc[df.Barcode == barcode]

                    a += sub_df.A.sum()
                    c += sub_df.C.sum()
                    g += sub_df.G.sum()
                    t += sub_df['T'].sum()  # .T is transpose
                    n_seqs += len(sub_df)

                if not a:
                    a = 1
                if not c:
                    c = 1
                if not g:
                    g = 1
                if not t:
                    t = 1
                if not n_seqs:
                    n_seqs = 999999999

                total = a + c + g + t
                avg_len = total / n_seqs

                filenames.append(filename)
                sub_barcodes.append(','.join(file_barcodes))
                conditions.append(condition)
                a_pcts.append(a / total)
                c_pcts.append(c / total)
                g_pcts.append(g / total)
                t_pcts.append(t / total)
                lengths.append(avg_len)

            all_filenames += filenames
            all_barcodes += sub_barcodes
            all_conditions += conditions
            all_a_pcts += a_pcts
            all_c_pcts += c_pcts
            all_g_pcts += g_pcts
            all_t_pcts += t_pcts
            all_lengths += lengths

        controls_bc_df['Filename'] = all_filenames
        controls_bc_df['Barcodes'] = all_barcodes
        controls_bc_df['Condition'] = all_conditions
        controls_bc_df['A%'] = all_a_pcts
        controls_bc_df['C%'] = all_c_pcts
        controls_bc_df['G%'] = all_g_pcts
        controls_bc_df['T%'] = all_t_pcts
        controls_bc_df['Length'] = all_lengths
        
        controls_bc_dfs[max_n_reads].append(controls_bc_df)

In [34]:
controls_bc_dfs[1000][2]

,Filename,Barcodes,Condition,A%,C%,G%,T%,Length
0,Control,AATTTTGCGG,1,0.161290,0.215054,0.564516,0.059140,2.325000e+00
1,Control,TGACTTTTAA,1,0.144654,0.220126,0.509434,0.125786,2.373134e+00
2,Control,TAACAGTATG,1,0.160714,0.232143,0.500000,0.107143,2.800000e+00
3,Control,AGTTTTTCAA,2,0.116667,0.277778,0.538889,0.066667,2.432432e+00
4,Control,GGTTACACTT,2,0.090909,0.278409,0.551136,0.079545,2.588235e+00
5,Control,TCTTAGCATT,2,0.123810,0.361905,0.457143,0.057143,2.386364e+00
6,Control,"TTTTTGTGAA,GTTATACTGT,CAACTCGGTC",3,0.020833,0.416667,0.531250,0.031250,2.341463e+00
7,Control,CAATTGTCAT,3,0.038168,0.320611,0.633588,0.007634,2.471698e+00
8,Control,GCCGCTCAGT,3,0.027523,0.211009,0.715596,0.045872,2.137255e+00
9,Control,TATAGCCACC,4,0.158730,0.275132,0.460317,0.105820,2.661972e+00
10,Control,TGCACGTCAT,4,0.127389,0.216561,0.554140,0.101911,2.706897e+00
11,Control,GCGATCCCGG,4,0.156863,0.241830,0.444444,0.156863,2.428571e+00
12,Control,ACATAAATTA,5,0.175000,0.212500,0.393750,0.218750,3.076923e+00
13,Control,CCTTCGACTC,5,0.186275,0.205882,0.362745,0.245098,2.756757e+00
14,Control,TCCGGACTCA,5,0.172840,0.203704,0.401235,0.222222,3.056604e+00
15,Control,AACCTAAGTT,6,0.250000,0.250000,0.250000,0.250000,4.000000e+00
16,Control,ACTGCTCCCT,6,0.200000,0.200000,0.400000,0.200000,1.666667e+00
17,Control,TTTTACAGAT,6,0.166667,0.166667,0.500000,0.166667,1.500000e+00
18,Control,GTCCTGCTAA,7,0.250000,0.250000,0.250000,0.250000,4.000000e-09
19,Control,CAATAACCGA,7,0.125000,0.125000,0.625000,0.125000,1.600000e+00
20,Control,TTCAATTCGA,7,0.166667,0.166667,0.500000,0.166667,2.000000e+00
21,Control,GGTATAAAAA,8,0.125000,0.125000,0.625000,0.125000,1.600000e+00
22,Control,CGTATTCTCT,8,0.142857,0.285714,0.428571,0.142857,1.750000e+00
23,Control,GTCCCAAAAA,8,0.166667,0.166667,0.500000,0.166667,1.500000e+00

In [35]:
message_bc_dfs = {}
filename = 'Message'

for max_n_reads, n_random_states in zip(sample_max_n_reads, sample_n_random_states):
    message_bc_dfs[max_n_reads] = []
    for rs in range(n_random_states):
        message_bc_df = pd.DataFrame()

        all_filenames = []
        all_barcodes = []
        all_positions = []
        all_a_pcts = []
        all_c_pcts = []
        all_g_pcts = []
        all_t_pcts = []
        all_lengths = []

        for df in [message_seq_dfs[max_n_reads][rs]]:
            filenames = []
            sub_barcodes = []
            positions = []
            a_pcts = []
            c_pcts = []
            g_pcts = []
            t_pcts = []
            lengths = []

            for file_barcodes, position in zip(barcode_df.Barcodes, barcode_df.Position):
                if ',' in file_barcodes:
                    file_barcodes = file_barcodes.split(',')
                else:
                    file_barcodes = [file_barcodes]

                a = 0
                c = 0
                g = 0
                t = 0
                n_seqs = 0
                for barcode in file_barcodes:
                    sub_df = df.loc[df.Barcode == barcode]

                    a += sub_df.A.sum()
                    c += sub_df.C.sum()
                    g += sub_df.G.sum()
                    t += sub_df['T'].sum()
                    n_seqs += len(sub_df)

                if not a:
                    a = 1
                if not c:
                    c = 1
                if not g:
                    g = 1
                if not t:
                    t = 1
                if not n_seqs:
                    n_seqs = 99999999  # To get 0 for avg length

                total = a + c + g + t
                avg_len = total / n_seqs

                filenames.append(filename)
                sub_barcodes.append(file_barcodes)
                positions.append(position)
                a_pcts.append(a / total)
                c_pcts.append(c / total)
                g_pcts.append(g / total)
                t_pcts.append(t / total)
                lengths.append(avg_len)

            all_filenames += filenames
            all_barcodes += sub_barcodes
            all_positions += positions
            all_a_pcts += a_pcts
            all_c_pcts += c_pcts
            all_g_pcts += g_pcts
            all_t_pcts += t_pcts
            all_lengths += lengths

        message_bc_df['Filename'] = all_filenames
        message_bc_df['Barcodes'] = all_barcodes
        message_bc_df['Position'] = all_positions
        message_bc_df['A%'] = all_a_pcts
        message_bc_df['C%'] = all_c_pcts
        message_bc_df['G%'] = all_g_pcts
        message_bc_df['T%'] = all_t_pcts
        message_bc_df['Length'] = all_lengths
        
        message_bc_dfs[max_n_reads].append(message_bc_df)

In [36]:
message_bc_dfs[1000][2]

,Filename,Barcodes,Position,A%,C%,G%,T%,Length
0,Message,[AATTTTGCGG],1,0.062500,0.437500,0.437500,0.062500,3.200000
1,Message,[TGACTTTTAA],2,0.048387,0.370968,0.540323,0.040323,2.254545
2,Message,[TAACAGTATG],3,0.136842,0.252632,0.505263,0.105263,2.317073
3,Message,"[TTTTTGTGAA, GTTATACTGT, CAACTCGGTC]",4,0.105263,0.254386,0.394737,0.245614,2.533333
4,Message,[CAATTGTCAT],5,0.070796,0.256637,0.610619,0.061947,2.132075
5,Message,[GCCGCTCAGT],6,0.125000,0.125000,0.625000,0.125000,2.666667
6,Message,[TGCACGTCAT],7,0.069444,0.333333,0.513889,0.083333,2.571429
7,Message,[GCGATCCCGG],8,0.250000,0.250000,0.250000,0.250000,4.000000
8,Message,[AACCTAAGTT],9,0.021898,0.467153,0.503650,0.007299,3.512821
9,Message,[ACTGCTCCCT],10,0.023622,0.330709,0.598425,0.047244,2.760870
10,Message,[TTTTACAGAT],11,0.094828,0.293103,0.405172,0.206897,2.521739
11,Message,[ACATAAATTA],12,0.019802,0.485149,0.485149,0.009901,2.729730
12,Message,[TCCGGACTCA],13,0.105960,0.211921,0.503311,0.178808,2.157143
13,Message,[GGTATAAAAA],14,0.181818,0.272727,0.443182,0.102273,2.378378
14,Message,[GTCCCAAAAA],15,0.070513,0.384615,0.532051,0.012821,3.627907
15,Message,[AGTTTTTCAA],16,0.035088,0.421053,0.535088,0.008772,2.425532
16,Message,[GGTTACACTT],17,0.012903,0.432258,0.548387,0.006452,2.818182
17,Message,[TCTTAGCATT],18,0.200000,0.200000,0.400000,0.200000,2.500000
18,Message,[GTCCTGCTAA],19,0.035088,0.289474,0.596491,0.078947,2.850000
19,Message,[CAATAACCGA],20,0.250000,0.250000,0.250000,0.250000,4.000000
20,Message,[TTCAATTCGA],21,0.170068,0.238095,0.482993,0.108844,2.578947
21,Message,[TATAGCCACC],22,0.136364,0.263636,0.463636,0.136364,2.750000
22,Message,[CCTTCGACTC],23,0.203125,0.242188,0.484375,0.070312,2.909091
23,Message,[CGTATTCTCT],24,0.218543,0.238411,0.410596,0.132450,2.849057

In [37]:
for max_n_reads, n_random_states in zip(sample_max_n_reads, sample_n_random_states):
    for rs in range(n_random_states):
        aitch_pcts = pd.DataFrame(clr(controls_bc_dfs[max_n_reads][rs].loc[:, ['A%', 'C%', 'G%', 'T%']]),
                                  columns=['A_aitch', 'C_aitch', 'G_aitch', 'T_aitch'])
        controls_bc_dfs[max_n_reads][rs] = pd.concat([controls_bc_dfs[max_n_reads][rs], aitch_pcts], axis=1)

In [38]:
controls_bc_dfs[1000][2]

,Filename,Barcodes,Condition,A%,C%,G%,T%,Length,A_aitch,C_aitch,G_aitch,T_aitch
0,Control,AATTTTGCGG,1,0.161290,0.215054,0.564516,0.059140,2.325000e+00,-0.134286,0.153396,1.118477,-1.137588
1,Control,TGACTTTTAA,1,0.144654,0.220126,0.509434,0.125786,2.373134e+00,-0.384762,0.035092,0.874193,-0.524524
2,Control,TAACAGTATG,1,0.160714,0.232143,0.500000,0.107143,2.800000e+00,-0.274310,0.093415,0.860670,-0.679775
3,Control,AGTTTTTCAA,2,0.116667,0.277778,0.538889,0.066667,2.432432e+00,-0.459518,0.407982,1.070670,-1.019134
4,Control,GGTTACACTT,2,0.090909,0.278409,0.551136,0.079545,2.588235e+00,-0.696956,0.422276,1.105167,-0.830487
5,Control,TCTTAGCATT,2,0.123810,0.361905,0.457143,0.057143,2.386364e+00,-0.401425,0.671212,0.904827,-1.174615
6,Control,"TTTTTGTGAA,GTTATACTGT,CAACTCGGTC",3,0.020833,0.416667,0.531250,0.031250,2.341463e+00,-1.659969,1.335763,1.578709,-1.254504
7,Control,CAATTGTCAT,3,0.038168,0.320611,0.633588,0.007634,2.471698e+00,-0.832049,1.296183,1.977354,-2.441487
8,Control,GCCGCTCAGT,3,0.027523,0.211009,0.715596,0.045872,2.137255e+00,-1.451451,0.585431,1.806646,-0.940625
9,Control,TATAGCCACC,4,0.158730,0.275132,0.460317,0.105820,2.661972e+00,-0.302323,0.247723,0.762388,-0.707788
10,Control,TGCACGTCAT,4,0.127389,0.216561,0.554140,0.101911,2.706897e+00,-0.444415,0.086213,1.025761,-0.667559
11,Control,GCGATCCCGG,4,0.156863,0.241830,0.444444,0.156863,2.428571e+00,-0.368579,0.064285,0.672874,-0.368579
12,Control,ACATAAATTA,5,0.175000,0.212500,0.393750,0.218750,3.076923e+00,-0.307057,-0.112901,0.503873,-0.083914
13,Control,CCTTCGACTC,5,0.186275,0.205882,0.362745,0.245098,2.756757e+00,-0.260250,-0.160166,0.406229,0.014187
14,Control,TCCGGACTCA,5,0.172840,0.203704,0.401235,0.222222,3.056604e+00,-0.314450,-0.150147,0.527733,-0.063136
15,Control,AACCTAAGTT,6,0.250000,0.250000,0.250000,0.250000,4.000000e+00,0.000000,0.000000,0.000000,0.000000
16,Control,ACTGCTCCCT,6,0.200000,0.200000,0.400000,0.200000,1.666667e+00,-0.173287,-0.173287,0.519860,-0.173287
17,Control,TTTTACAGAT,6,0.166667,0.166667,0.500000,0.166667,1.500000e+00,-0.274653,-0.274653,0.823959,-0.274653
18,Control,GTCCTGCTAA,7,0.250000,0.250000,0.250000,0.250000,4.000000e-09,0.000000,0.000000,0.000000,0.000000
19,Control,CAATAACCGA,7,0.125000,0.125000,0.625000,0.125000,1.600000e+00,-0.402359,-0.402359,1.207078,-0.402359
20,Control,TTCAATTCGA,7,0.166667,0.166667,0.500000,0.166667,2.000000e+00,-0.274653,-0.274653,0.823959,-0.274653
21,Control,GGTATAAAAA,8,0.125000,0.125000,0.625000,0.125000,1.600000e+00,-0.402359,-0.402359,1.207078,-0.402359
22,Control,CGTATTCTCT,8,0.142857,0.285714,0.428571,0.142857,1.750000e+00,-0.447940,0.245207,0.650672,-0.447940
23,Control,GTCCCAAAAA,8,0.166667,0.166667,0.500000,0.166667,1.500000e+00,-0.274653,-0.274653,0.823959,-0.274653

In [39]:
for max_n_reads, n_random_states in zip(sample_max_n_reads, sample_n_random_states):
    for rs in range(n_random_states):
        aitch_pcts = pd.DataFrame(clr(message_bc_dfs[max_n_reads][rs].loc[:, ['A%', 'C%', 'G%', 'T%']]),
                                  columns=['A_aitch', 'C_aitch', 'G_aitch', 'T_aitch'])
        message_bc_dfs[max_n_reads][rs] = pd.concat([message_bc_dfs[max_n_reads][rs], aitch_pcts], axis=1)

In [40]:
message_bc_dfs[1000][2]

,Filename,Barcodes,Position,A%,C%,G%,T%,Length,A_aitch,C_aitch,G_aitch,T_aitch
0,Message,[AATTTTGCGG],1,0.062500,0.437500,0.437500,0.062500,3.200000,-0.972955,0.972955,0.972955,-0.972955
1,Message,[TGACTTTTAA],2,0.048387,0.370968,0.540323,0.040323,2.254545,-1.066873,0.970009,1.346060,-1.249195
2,Message,[TAACAGTATG],3,0.136842,0.252632,0.505263,0.105263,2.317073,-0.414248,0.198857,0.892004,-0.676612
3,Message,"[TTTTTGTGAA, GTTATACTGT, CAACTCGGTC]",4,0.105263,0.254386,0.394737,0.245614,2.533333,-0.762861,0.119528,0.558895,0.084437
4,Message,[CAATTGTCAT],5,0.070796,0.256637,0.610619,0.061947,2.132075,-0.827247,0.460607,1.327418,-0.960778
5,Message,[GCCGCTCAGT],6,0.125000,0.125000,0.625000,0.125000,2.666667,-0.402359,-0.402359,1.207078,-0.402359
6,Message,[TGCACGTCAT],7,0.069444,0.333333,0.513889,0.083333,2.571429,-0.938104,0.630512,1.063376,-0.755783
7,Message,[GCGATCCCGG],8,0.250000,0.250000,0.250000,0.250000,4.000000,0.000000,0.000000,0.000000,0.000000
8,Message,[AACCTAAGTT],9,0.021898,0.467153,0.503650,0.007299,3.512821,-1.274288,1.785983,1.861206,-2.372900
9,Message,[ACTGCTCCCT],10,0.023622,0.330709,0.598425,0.047244,2.760870,-1.641081,0.997976,1.591040,-0.947934
10,Message,[TTTTACAGAT],11,0.094828,0.293103,0.405172,0.206897,2.521739,-0.840219,0.288246,0.612033,-0.060060
11,Message,[ACATAAATTA],12,0.019802,0.485149,0.485149,0.009901,2.729730,-1.426050,1.772623,1.772623,-2.119197
12,Message,[TCCGGACTCA],13,0.105960,0.211921,0.503311,0.178808,2.157143,-0.693635,-0.000488,0.864510,-0.170387
13,Message,[GGTATAAAAA],14,0.181818,0.272727,0.443182,0.102273,2.378378,-0.180268,0.225197,0.710704,-0.755633
14,Message,[GTCCCAAAAA],15,0.070513,0.384615,0.532051,0.012821,3.627907,-0.503162,1.193288,1.517784,-2.207910
15,Message,[AGTTTTTCAA],16,0.035088,0.421053,0.535088,0.008772,2.425532,-0.955798,1.529109,1.768782,-2.342092
16,Message,[GGTTACACTT],17,0.012903,0.432258,0.548387,0.006452,2.818182,-1.641976,1.869570,2.107528,-2.335123
17,Message,[TCTTAGCATT],18,0.200000,0.200000,0.400000,0.200000,2.500000,-0.173287,-0.173287,0.519860,-0.173287
18,Message,[GTCCTGCTAA],19,0.035088,0.289474,0.596491,0.078947,2.850000,-1.438589,0.671624,1.394624,-0.627659
19,Message,[CAATAACCGA],20,0.250000,0.250000,0.250000,0.250000,4.000000,0.000000,0.000000,0.000000,0.000000
20,Message,[TTCAATTCGA],21,0.170068,0.238095,0.482993,0.108844,2.578947,-0.233497,0.102975,0.810307,-0.679784
21,Message,[TATAGCCACC],22,0.136364,0.263636,0.463636,0.136364,2.750000,-0.470755,0.188490,0.753020,-0.470755
22,Message,[CCTTCGACTC],23,0.203125,0.242188,0.484375,0.070312,2.909091,0.003986,0.179877,0.873024,-1.056886
23,Message,[CGTATTCTCT],24,0.218543,0.238411,0.410596,0.132450,2.849057,-0.054216,0.032796,0.576411,-0.554991

# COMBINE INTO ONE BIG DATAFRAME

In [41]:
full_df = pd.DataFrame()

for df_set in [controls_bc_dfs, message_bc_dfs]:
    for max_n_reads, n_random_states in zip(sample_max_n_reads, sample_n_random_states):
        for rs in range(n_random_states):
            df_set[max_n_reads][rs]['Max Reads'] = max_n_reads
            df_set[max_n_reads][rs]['Replicate'] = rs
            full_df = pd.concat([full_df, df_set[max_n_reads][rs]])

for column, column_i in zip(['Max Reads', 'Replicate', 'Position'], [1, 2, 5]):
    vals = full_df[column]
    full_df = full_df.drop([column], axis=1)
    full_df.insert(loc=column_i, column=column, value=vals)

In [42]:
full_df

,Filename,Max Reads,Replicate,Barcodes,Condition,Position,A%,C%,G%,T%,Length,A_aitch,C_aitch,G_aitch,T_aitch
0,Control,300000,0,AATTTTGCGG,1.0,NaN,0.135076,0.237882,0.558091,0.068951,2.380663e+00,-0.328049,0.237891,1.090640,-1.000483
1,Control,300000,0,TGACTTTTAA,1.0,NaN,0.108198,0.259366,0.535040,0.097395,2.245217e+00,-0.591864,0.282411,1.006511,-0.697057
2,Control,300000,0,TAACAGTATG,1.0,NaN,0.110600,0.273327,0.520516,0.095557,2.466897e+00,-0.576861,0.327885,0.972037,-0.723061
3,Control,300000,0,AGTTTTTCAA,2.0,NaN,0.084250,0.271443,0.570239,0.074067,2.378713e+00,-0.738354,0.431611,1.173913,-0.867170
4,Control,300000,0,GGTTACACTT,2.0,NaN,0.084703,0.273646,0.573650,0.068002,2.475653e+00,-0.716483,0.456200,1.196386,-0.936102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,Message,100,49,[CAATAACCGA],NaN,20.0,0.250000,0.250000,0.250000,0.250000,4.000000e-08,0.000000,0.000000,0.000000,0.000000
20,Message,100,49,[TTCAATTCGA],NaN,21.0,0.200000,0.100000,0.600000,0.100000,1.666667e+00,0.071921,-0.621227,1.170533,-0.621227
21,Message,100,49,[TATAGCCACC],NaN,22.0,0.125000,0.250000,0.500000,0.125000,2.666667e+00,-0.519860,0.173287,0.866434,-0.519860
22,Message,100,49,[CCTTCGACTC],NaN,23.0,0.133333,0.333333,0.400000,0.133333,3.750000e+00,-0.503726,0.412565,0.594887,-0.503726
23,Message,100,49,[CGTATTCTCT],NaN,24.0,0.142857,0.285714,0.428571,0.142857,2.333333e+00,-0.447940,0.245207,0.650672,-0.447940

In [43]:
full_df.to_csv(figure_dir + '/full_subsampled_metrics.csv')